SetEnv APPLICATION_ENV development
#SetEnv APPLICATION_ENV staging
#SetEnv APPLICATION_ENV production

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} (\.gif|\.jpg|\.png|\.css|\.js|favicon.ico|crossdomain\.xml|robots\.txt|sitemap\.xml)$ [OR]
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d 

RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

Options All -Indexes 