body{
	background: #faf9f8 url('images/body_bg.png') repeat-x left top;
	color:#48392F;
}
h1{
	color:#5E4739;
}
h2{
	color:#5E4739;
}
h3{
	color:#5E4739;
}
a{
	color:#2B808E;
}
a:hover{
	color:#2B808E;;
}
fieldset{
	border-top-color:#eb8367;
}
legend{
	color: #e8542d;
}
input,select,textarea{
	border-top:1px solid #B0A08E;
	border-right:1px solid #DCD5CD;
	border-bottom:1px solid #DCD5CD;
	border-left:1px solid #B0A08E;
}
a#logo{
	color: #E2D8CD;
}
.top_user_menu{
	color: #BAA494;
}
.top_user_menu a{
	color: #D5B991;
}
/*** menu ***/
#mainMenu li a{
	color: #f9d9be;
	background:#715643 url('images/menu_1_bullet.png') right 16px no-repeat;
}
#mainMenu li a:hover, #mainMenu li a.menuHover{
	color: #9b4e10;
	background:#FEDDBC url('images/menu_1_bullet.png') right -17px no-repeat;
}
#mainMenu li a.selected{
	color:#2a2320 !important;
	background:#F59A51 url('images/menu_1_bullet.png') right -17px no-repeat;
}
#mainMenu li ul{
	background-color: #FEDDBC;
}
#mainMenu li ul li a{
	color: #416c7b;
	background-color: transparent;
	background-image: none;
	border-top: 1px solid #ECCAA7;
}
#mainMenu li ul li a:hover, #mainMenu li ul li a.selected{
	color: #b65a10 !important;
	background-color: #FCE9D8;
	background-image: none;
}
#mainMenu li ul li:first-child a{
	border-top:none !important;
}

/*** end menu ***/

/*** breadcrumbs ***/
#breadcrumbs li{
	background:	url('images/breadcrumb_arrow.png') right center no-repeat;
}

#breadcrumbs li:last-child{
	background:	none;
}

#breadcrumbs li a
{
	color:#0f7aa1 !important;
}

#breadcrumbs li a:hover, #breadcrumbs li:last-child a{
	color:#b65a10 !important;
}
/*** end breadcrumbs ***/
.content {
	color:#1E1E1E;
}
.table_container{
	border-color:#E2E2E2;
}
.g_box{
	border-color: #DCD3CB;
	background-color: #ffffff;
}
.g_box td{
	color:#556266 !important;
}
.g_box .emph{
	color: #4A4A4A !important;
}
.g_box .emph span{
	color: #3D5969 !important;
}
.g_box span{
	color:#756859;
}
.g_box select{
	border-top-color: #B0A08E;
	border-right-color: #DCD5CD;
	border-bottom-color: #DCD5CD;
	border-left-color: #B0A08E;
}
.pagination{
	border-bottom-color: #CCC2B7;
}
.pagination li a{
	color: #537E8C;
	background: #EFECE7;
}
.pagination li a:hover{
	background-color: #ffffff;
	color: #509DB4;
}
.pagination li p{
	background-color: #FDB52F;
	color: #55422F;
}
.big_table{
	border-left-color: #d0c5bb;
	border-top-color: #d0c5bb;
	border-bottom-color: #d0c5bb;
	color:#222222;
	background-color: #E8E8E8;
}
.big_table td{
	color: #48392F;
}
.table_subhead{
	background: url('images/table_h.png') repeat-x top left;
	color: #6F5C51 !important;
	border-top-color: #ffffff;
	border-right-color: #d0c5bb;
	border-bottom-color: #d0c5bb;
}
.row1{
	background-color: #FFFFFF;
	border-right-color: #d0c5bb;
}
.row2{
	background-color: #f2efeb;
	border-right-color: #d0c5bb;
}
.medium_table{
	border-color: #d0c5bb;
	background-color: #ffffff;
}
.medium_table td{
	color: #3B3B3B;
}
.medium_table .row2{
	border-right-color: #d0c5bb;
	color: #6F5C51 !important; 
	background-color: #f2efeb;
}
.big_button_area{
	background-color: #FFFFFF;
	border-right-color: #d0c5bb;
}
.bordered{
	border-bottom-color: #d0c5bb;
}
.list_table{
	border-top-color: #d0c5bb;
	border-left-color: #d0c5bb;	
	color:#222222;
	background-color: #E8E8E8;
}
.list_table td{
	border-bottom-color: #d0c5bb;
	color: #3B3B3B;
}
input.small_btn{
	background-image: url('images/button.png');
	color: #FFFFFF;
}
input.small_btn:hover{
	background-image: url('images/button_hover.png');
}
.footer{
	border-top-color: #b3bbbd;
	color: #5C717A;
}
/* Dijit Calendar */
.dijitCalendar {
	border-color: #d0c5bb;
	background-color:#F8F5F1;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarNextMonth .dijitCalendarDateLabel{
	color:#7A7A7A;
	border-color:#F4F3F0;
}
.dijitCalendarHoveredDate .dijitCalendarDateLabel{
	background-color:#DDD8CA;
	border-color: #AF9D85;
	color:#000;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
	color:#000;
	background-color:#F2F1EE;
	border-color:#DEDBD1;
}
/* END Dijit Calendar */