<?xml version="1.0" encoding="utf-8"?>
<config>
	<body>
	<variable option="global">
	</variable>
	<variable option="admin">
		<pageTitle>
			<action>
				<dashboard>Dashboard</dashboard>
				<settings>Settings</settings>
				<settings-update>Update Settings</settings-update>
				<phpinfo>PHP Info</phpinfo>
			</action>
		</pageTitle>
		<infoMessage>
			<settingsUpdate>System settings was updated.</settingsUpdate>
		</infoMessage>
		<countCountryUserLogin>10</countCountryUserLogin>
		<colorCharts>
			<color>#69D2E7</color>
			<color>#F38630</color>		
			<color>#D3CE3D</color>	
			<color>#CC333F</color>		
			<color>#A7DBD8</color>	
			<color>#915B2F</color>		
			<color>#FFC90E</color>	
			<color>#F597DE</color>
			<color>#09AB82</color>	
			<color>#4E431A</color>
		</colorCharts>
	</variable>
	<variable option="frontend">
	</variable>		
	</body>
</config>