body{
	background: #faf7f7 url('images/body_bg.png') repeat-x left top;
	color: #4A3333;
}
h1{
	color:#4D3333;
}
h2{
	color: #4D3333;
}
h3{
	color:#4D3333;
}
a{
	color: #318F9D;
}
a:hover{
	color: #318F9D;
}
fieldset{
	border-top: 2px solid #899d63;
}
legend{
	color: #6a813d;
}
input,select,textarea{
	border-top: 1px solid #AFB5AE;
	border-right: 1px solid #DFE1DF;
	border-bottom: 1px solid #DFE1DF;
	border-left: 1px solid #AFB5AE;
}
a#logo{
	color: #DFD0D0;
}
.top_user_menu{
	color: #B7A597;
}
.top_user_menu a{
	color: #E7D1D1;
}
.menu_1 li a{
	color: #DDC8C8;
	background-color: #673f3f;
	border-bottom: 1px solid #eb8f8f;
	border-top: 1px solid #673f3f;
}
.menu_1 li a:hover{
	color: #FFFFFF;
	background-color: #d56363;
	border-bottom: 1px solid #d56363;
	border-top: 1px solid #eb8f8f;
}
.menu_1 .normal_selected a{      
	color: #FFFFFF;
	background-color: #d56363;
	border-bottom: 1px solid #d56363;
	border-top: 1px solid #eb8f8f;
}
.menu2_selected li a{
	color: #FEF5F5;
}
.menu2_selected li a:hover{
	color:#DCF5A0;
}
.menu2_selected li.normal_selected a{
	color: #D8EFA7;
}
.content {
	color:#1E1E1E;
}
.table_container{
	border: 1px solid #E2E2E2;
}
.g_box{
	border: 1px solid #E2DCDC;
	background-color: #ffffff;
}
.g_box td{
	color:#556266 !important;
}
.g_box .emph{
	color: #4A4A4A !important;
}
.g_box .emph span{
	color: #3D5969 !important;
}
.g_box span{
	color:#756859;
}
.g_box select{
	border-top: 1px solid #AFB5AE;
	border-right: 1px solid #DFE1DF;
	border-bottom: 1px solid #DFE1DF;
	border-left: 1px solid #AFB5AE;
}
.pagination{
	border-bottom: 1px solid #CBC0C0;
}
.pagination li a{
	color: #A56969;
	background: #f1e9e9;
}
.pagination li a:hover{
	background-color: #ffffff;
	color: #7E4B4B;
}
.pagination li p{
	background-color: #638d58;
	color: #FFFFFF;
}
.big_table{
	border-left: 1px solid #d7cfcf;
	border-top: 1px solid #d7cfcf;
	border-bottom: 1px solid #d7cfcf;
	color:#222222;
	background-color: #E8E8E8;
}
.big_table td{
	color: #48392F;
}
.table_subhead{
	background: url('images/table_h.png') repeat-x #f6f0f0 left;
	color: #5A7050 !important;
	border-top-color: 1px solid #ffffff;
	border-right: 1px solid #d7cfcf;
	border-bottom: 1px solid #d7cfcf;
}
.row1{
	background-color: #FFFFFF;
	border-right: 1px solid #d7cfcf;
}
.row2{
	background-color: #f6f0f0;
	border-right: 1px solid #d7cfcf;
}
.medium_table{
	border: 1px solid #d7cfcf;
	background-color: #ffffff;
}
.medium_table td{
	color: #3B3B3B;
}
.medium_table .row2{
	border-right: 1px solid #d7cfcf;
	color: #5F4B4B !important; 
	background-color: #f6f0f0;
}
.big_button_area{
	background-color: #FFFFFF;
	border-right: 1px solid #d7cfcf;
}
.bordered{
	border-bottom: 1px solid #d7cfcf;
}
.list_table{
	border-#f6f0f0: 1px solid #d7cfcf;
	border-left: 1px solid #d7cfcf;	
	color:#222222;
	background-color: #E8E8E8;
}
.list_table td{
	border-bottom: 1px solid #d7cfcf;
	color: #3B3B3B;
}
input.small_btn{
	background-image: url('images/button.png');
	color: #FFFFFF;
}
input.small_btn:hover{
	background-image: url('images/button_hover.png');
}
.footer{
	border-top: 1px solid #C2ADAD;
	color: #736464;
}
/* Dijit Calendar */
.dijitCalendar {
	border:solid 1px #CCBFBF;
	background-color:#F8F1F1;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarNextMonth .dijitCalendarDateLabel{
	color:#7A7A7A;
	border-color:#F4F0F0;
}
..dijitCalendarHoveredDate .dijitCalendarDateLabel{
	background-color:#DEC9C9;
	border:solid 1px #BD9191;
	color:#000;
}
..dijitCalendarSelectedDate .dijitCalendarDateLabel {
	color:#000;
	background-color:#F2EEEE;
	border-color:#DFD0D0;
}
./* END Dijit Calendar */