<?xml version="1.0" encoding="utf-8"?>
<config>
	<dots>
		<variable option="global">
		</variable>
		<variable option="admin">
			<pageTitle>
				<action>
					<dashboard>Dashboard</dashboard>
					<settings>Settings</settings>
					<settings-update>Update Settings</settings-update>
					<phpinfo>PHP Info</phpinfo>
					<apc-info>APC Info</apc-info>
					<transporter-list>List Email Transporter</transporter-list>
					<transporter-update>Update Email Transporter</transporter-update>
					<transporter-delete>Delete Email Transporter</transporter-delete>
				</action>
			</pageTitle>
			<infoMessage>
				<settingsUpdate>System settings have been updated.</settingsUpdate>
				<transporterDelete>Email transporter has been deleted.</transporterDelete>
				<noTransporterDelete>No email transporter was deleted.</noTransporterDelete>
				<transporterUpdate>Email transporter has been updated.</transporterUpdate>
				<transporterAdd>Email transporter has been added.</transporterAdd>
			</infoMessage>
			<errorMessage>
				<invalidPort>The port must be a number</invalidPort>
				<invalidCapacity>The capacity must be a number</invalidCapacity>
				<emptyFields>All fields are mandatory</emptyFields>
			</errorMessage>
		</variable>
		<variable option="frontend">
		</variable>
	</dots>
</config>