<?xml version="1.0" encoding="utf-8"?>
<config>
	<body>
	<variable option="global">
	</variable>
	<variable option="admin">
		<pageTitle>
			<action>
				<dashboard>Dashboard</dashboard>
				<settings>Settings</settings>
				<settings-update>Update Settings</settings-update>
				<phpinfo>PHP Info</phpinfo>
			</action>
		</pageTitle>
		<infoMessage>
			<settingsUpdate>System settings was updated.</settingsUpdate>
		</infoMessage>
	</variable>
	<variable option="frontend">
	</variable>		
	</body>
</config>