.index_debugger{
	border: 0px;
	font-size: 11px;
	font-family: "Lucida Sans Unicode";
	width: 1000px;
	margin: 0px auto;
	margin-bottom: 20px;
}

.debugger{
	border: 0px;
	background-color: #E4E4E4;
	font-size: 10px;
	font-family: "Lucida Sans Unicode";
	width:100%;
}

.debugger_images{
	vertical-align: middle;
	border: 0px;
	padding: 3px;
}

.debug_table{
	border: 0px;
	font-size: 11px;
	width:100%;
}

.debugger th{
	background-color: #E4E4E4;
	border: 1px solid #FFFFFF;
	padding: 3px 0px 3px 3px;
}

.debugger td{
	padding: 3px 0px 3px 3px;
}

.debugger_1 {
	background-color: #FFFFFF;
}

.debugger_2 {
	background-color: #F7F7F7;
	border: 1px solid #FFFFFF;
}

.debugger_1_params {
	background-color: #FFFFFF;
}

.debugger_2_params {
	background-color: #F7F7F7;
	border: 1px solid #FFFFFF;
}

.details_debugger_db{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 20px;
	cursor: pointer;
	background-color: #E4E4E4;
	border: 1px solid #CFCFCF;
	width: 250px;
	padding: 6px 4px 6px 4px;
}

.debugger_db{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 20px;
	background-color: #E4E4E4;
	border: 1px solid #CFCFCF;
	width: 250px;
	padding: 6px 4px 6px 4px;
}

.version_zf{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 20px;
	background-color: #E4E4E4;
	border: 1px solid #CFCFCF;
	width: 75px;
	padding: 6px 4px 6px 4px;
}

.version_php{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 20px;
	background-color: #E4E4E4;
	border: 1px solid #CFCFCF;
	width: 90px;
	padding: 6px 4px 6px 4px;
}

.total_time{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 20px;
	background-color: #E4E4E4;
	border: 1px solid #CFCFCF;
	width: 200px;
	padding: 6px 4px 6px 4px;
}

.memory_usage{
	float: left;
	margin-top: 20px;
	margin-left: 3px;
	margin-bottom: 20px;
	background-color: #E4E4E4;
	border: 1px solid #CFCFCF;
	width: 170px;
	padding: 6px 4px 6px 4px;
}

.db_debug_rows{
	clear: both;
}