body{
	background: #F9F9F9 url('images/body_bg.png') repeat-x left top;
}
h1{
	color: #555555;
}
h2{
	color: #555555;
}
h3{
	color: #555555;
}
a{
	color: #1A7EB5;
}
a:hover{
	color: #1A7EB5;
}
fieldset{
	border-top-color: #F19F56;
}
legend{
	color: #ee8b33;
}
input,select,textarea{
	border-bottom: 1px solid #D2D6D7;
	border-left: 1px solid #A2AAAC;
	border-right: 1px solid #D2D6D7;
	border-top: 1px solid #A2AAAC;
}
a#logo{
	color: #e6edf0;
}
.top_user_menu{
	color: #B8B8B8;
}
.top_user_menu a{
	color: #DBDBDB;
}
/*** menu ***/
#mainMenu li a{
	color: #dadada;
	background:#4D4D4D url('images/menu_1_arrow.png') right 16px no-repeat;
}
#mainMenu li a:hover, #mainMenu li a.menuHover{
	color: #2c2c2c;
	background:#EEEEEE url('images/menu_1_arrow.png') right -24px no-repeat;
}
#mainMenu li a.selected{
	color:#2c2c2c !important;
	background:#F39243 url('images/menu_1_arrow.png') right -24px no-repeat;
}
#mainMenu li ul li{
	background-color: #EEEEEE;
}
#mainMenu li ul li a{
	color: #3894ba;
	background-color: transparent;
	background:url('images/breadcrumb_arrow.png') no-repeat 8px 11px;
	border-top: 1px solid #CACACA;
	margin: 0 10px;
	padding: 3px;
	/*-moz-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	-webkit-transition: color 0.3s ease-out;
	transition: color 0.3s ease-out;*/
}

#mainMenu li ul li a.selected{
	color: #656565 !important;
	background:url('images/breadcrumb_arrow.png') no-repeat 8px 11px;
	background-color: transparent;
}

#mainMenu li ul li a:hover{
	color: #f26f06 !important;
	background-color: transparent;
	background:url('images/breadcrumb_arrow.png') no-repeat 8px 11px;
	padding: 3px;
}
#mainMenu li ul li:first-child a{
	border-top:none !important;
}

/*** breadcrumbs ***/
#breadcrumbs li{
	background:	url('images/breadcrumb_arrow.png') right center no-repeat;
}

#breadcrumbs li:last-child{
	background:	none;
}

#breadcrumbs li a
{
	color:#3894ba;
}

#breadcrumbs li a:hover{
	color: #f26f06 !important;
}

#breadcrumbs li:last-child a{
	color: #656565;
}
/*** end breadcrumbs ***/

.content {
	color:#1E1E1E;
}
.table_container{
	border-color: #E2E2E2;
}
.g_box{
	border-color: #D7D7D7;
	background-color: #ffffff;
}
.g_box td{    
	color:#556266 !important;
}
.g_box .emph{
	color: #4A4A4A !important;
}
.g_box .emph span{
	color: #3D5969 !important;
}
.g_box span{
	color:#756859;
}
.g_box select{
	border: 1px solid #B7B7B7;
}
.pagination{
	border-bottom: 1px solid #B7B7B7;
}
.pagination li a{
	color: #0887b8;
	background: #EBEBEB;
}
.pagination li a:hover{
	background-color: #c0deeb;
}
.pagination li p{
	background-color: #ffa95a;
	color: #ffffff;
}
.big_table{
	border-left: 1px solid #CFCFCF;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	color:#222222;
	background-color: #E8E8E8;
}
.big_table td{
	color: #3B3B3B;
}
.table_subhead{
	color: #5D5D5D !important;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
}
.row1{
	background-color: #FFFFFF;
	border-right: 1px solid #CFCFCF;
}
.row2{
	background-color: #F3F3F3;
	border-right: 1px solid #CFCFCF;
}
.medium_table{
	border: 1px solid #CFCFCF;
	background-color: #ffffff;
}
.medium_table td{
	color: #3B3B3B;
}
.medium_table .row2{
	color: #556266 !important; 
	background-color: #F3F3F3;
}
.big_button_area{
	background-color: #FFFFFF;
	border-right: 1px solid #CFCFCF;
}
.bordered{
	border-bottom: 1px solid #CFCFCF;
}
.list_table{
	border-top: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;	
	color:#222222;
	background-color: #E8E8E8;
}
.list_table td{
	border-bottom: 1px solid #c9d1d5;
	color: #3B3B3B;
}
input.small_btn{
	background-image: url('images/button.png');
	color: #FFFFFF;
}
input.small_btn:hover{
	background-image: url('images/button_hover.png');
}
.footer{
	border-top: 1px solid #b3bbbd;
	color: #5C717A;
}