/*** General ***/
body {
	background-color: #F6F6F6;
	color: #64696D;
}
h1, h2, h3 {
	color: #8C9AA5;
}
a {
	color: #448BCE;
}
a:hover {
	color: #1A7EB5;
}
input, select, textarea {
	background-color: transparent;
	border-bottom: 1px solid #bdc6cf;
	border-left: 1px solid #bdc6cf;
	border-right: 1px solid #bdc6cf;
	border-top: 1px solid #bdc6cf;
	color: #64696D;
}
.box_header {
	background-color: #F27C5E;
	color: #FFFFFD;
}
.button, .button:hover {
	color: #FFFFFF;
}
/*** End General ***/

/*** Header ***/
.header {
	background-color: #272F42;
}
#logo {
	color: #FFFFFF;
}
.top_user_menu {
	color: #C5D8E7;
}
.top_user_menu a {
	color: #C5D8E7;
}
.top_user_menu a.logout {
	background: url('images/logout_icon.png') no-repeat 0px 0px;
}
.top_user_menu a.logout:hover {
	background: url('images/logout_icon.png') no-repeat 0px -49px;
}

/*** End Header ***/

/*** Menu ***/
#mainMenu {  }
#mainMenu li a {
	background-image: url('images/menu_dropdown.png');
	color: #FFFFFF;
}
#mainMenu li a.selected {
	background-image: url('images/menu_dropdown.png');
	background-color: #38425D;
	color: #FFFFFF;
}
#mainMenu li a.menuHover, #mainMenu li a.selected.menuHover {
	background-image: url('images/menu_dropdown.png');
	background-color: #38425D;
	color: #FFFFFF;
}
#mainMenu li a.menuHover, #mainMenu li a.selected.menuHover, #mainMenu li ul {
	background-color: #38425D;
	border-color: #9DA1A5;
}
#mainMenu li ul li a {
	color: #FFFFFF;
}
#mainMenu li ul li a.selected {
	color: #9DA1A5;
}
#mainMenu li ul li a:hover, #mainMenu li ul li a.selected:hover {
	color: #9DA1A5;
}
#mainMenu li ul li a:hover, #mainMenu li ul li a.selected:hover, #breadcrumbs li a:hover {
	color: #9DA1A5 !important;
}
.security_check a, .security_check a:hover {
	color: #448BCE;
}
/*** End Menu ***/

/*** Tables ***/
/* Big table */
.big_table {
	background-color: #BDC6CF;
}
.big_table th {
	background-color: #F27C5E/*#fcbe2b*/;
	color: #FFFFFF !important;
}
.big_table td {
	background-color: #FFFFFF;
	border-color: #E2E5EC;
}
/* End Big table */

/* Medium table */
.medium_table {
	border-color: #F4F4F4;
}
.medium_table.warnings td:first-child {
	background-color: #CC0000;
	color:#fff !important;
}
.medium_table.warnings td:last-child {
	background-color:#fff;
}
.medium_table th {
	border-color: #BDC6CF;
	background-color: #f4f9ff;
	color: #819AB8 !important;
}
table.medium_table td {
	background-color: #FFFFFF;
}
table.medium_table td:first-child, .medium_table td:first-child {
	background-color: #FFFFFF;
	font-weight: bold;
}
/* End Medium table */

.chartTable {
	border-color: #f4f4f4;
}
.chartTable tr td {
	background-color: #FFFFFF;
}
.g_box td {
	background: #E2E6EF;
}
.g_box td.g_box_head {
	color: #919ba7 !important;
}
.g_box .emph {
	color: #4A4A4A !important;
}
.g_box .emph span {
	color: #3D5969 !important;
}
.g_box span {
	color:#756859;
}
.g_box select {
	border-color: #B7B7B7;
}
.g_box input, .g_box select {
	background-color: #FFFFFF;
}

a.active_state {
	background: url('images/status_icon.png') no-repeat 0px 0px;
}
a.inactive_state {
	background: url('images/status_icon.png') no-repeat 0px -50px;
}
a.edit_state {
	background: url('images/edit_icon.png') no-repeat 0px 0px;
	color: #7B8CA8;
}
a.edit_state:hover {
	background: url('images/edit_icon.png') no-repeat 0px -50px;
}
a.delete_state {
	background: url('images/delete_icon.png') no-repeat 0px 0px;
	color: #7B8CA8;
}
a.delete_state:hover {
	background: url('images/delete_icon.png') no-repeat 0px -50px;
}
a.cache_key_delete {
	background: url('images/remove.png') no-repeat 0px 0px;
	color: #7B8CA8;
}
a.cache_key_delete:hover {
	background: url('images/remove.png') no-repeat 0px -49px;
	color: #7B8CA8;
}
a.cache_clear {
	background: #F6F6F6 url('images/remove.png') no-repeat 15px 11px;
	color: #7B8CA8;
}
a.cache_clear:hover {
	background: #F6F6F6 url('images/remove.png') no-repeat 15px -38px;
	color: #7B8CA8;
}
a.logins_state {
	background: url('images/logins_icon.png') no-repeat 0px 0px;
	color: #7B8CA8;
}
a.logins_state:hover {
	background: url('images/logins_icon.png') no-repeat 0px -50px;
}
a.pass_state {
	background: url('images/send_pass_icon.png') no-repeat 0px 0px;
	color: #7B8CA8;
}
a.pass_state:hover {
	background: url('images/send_pass_icon.png') no-repeat 0px -50px;
}
a.sortable {
	background: url('images/arrows.png') no-repeat 0px -80px;
}
a.sort_up {
	background: url('images/arrows.png') no-repeat 0px 5px;
}
a.sort_down {
	background: url('images/arrows.png') no-repeat 0px -37px;
}
a.sortable:hover, a.sort_up:hover, a.sort_down:hover {
	color: #FFFFFF;
}
/*** End Tables ***/

/*** Forms ***/
.form {
	background-color: #FFFFFF;
}

/* Login Form */
.wrapper.login_form {
	background-color: #2F97E0;
}
form.login {
	background: none;
}
form.login input {
	background-color: #10629C;
}
form.login input[type="text"], form.login input[type="password"] {
	color: #FFFFFF;
}
form.login input.button {
	background: #FFFFFF url('images/login_btn.png') no-repeat center 20px;
	color: #2F97E0;
}
.login_box h2 {
	color: #10629C;
}
/* End Login Form */
/*** End Forms ***/

/*** PHP INFO ***/

.phpinfo table.list_table {
	background-color: #F6F6F6;
}
.phpinfo table.list_table td {
	background-color: #FFFFFF;
	border: 1px solid #AEB7C1;
}

/*** End PHP INFO ***/

/*** Buttons ***/
.button {
	background-color: #F07D5E;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F07D5E), to(#E2795F));
	background-image: -webkit-linear-gradient(top, #F07D5E, #E2795F);
	background-image:    -moz-linear-gradient(top, #F07D5E, #E2795F);
	background-image:     -ms-linear-gradient(top, #F07D5E, #E2795F);
	background-image:      -o-linear-gradient(top, #F07D5E, #E2795F);
	background-image:         linear-gradient(top, #F07D5E, #E2795F);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F07D5E', EndColorStr='#E2795F');
}
.button:hover {
    background-color: #F07D5E;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F07D5E), to(#D8745B));
    background-image: -webkit-linear-gradient(top, #F07D5E, #D8745B);
    background-image:    -moz-linear-gradient(top, #F07D5E, #D8745B);
    background-image:     -ms-linear-gradient(top, #F07D5E, #D8745B);
    background-image:      -o-linear-gradient(top, #F07D5E, #D8745B);
    background-image:         linear-gradient(top, #F07D5E, #D8745B);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F07D5E', EndColorStr='#D8745B');
}
/*** End Buttons ***/

/*** Breadcrumbs ***/
#breadcrumbs {
	border-color: #E2E9F1;
	color: #BFC6D0;
}
#breadcrumbs li {
	background-image: url('images/breadcrumbs_arrow.png');
}
#breadcrumbs li a {
	color: #99a0aa;
}
#breadcrumbs li a:hover {
	color: #272F42 !important;
}
#breadcrumbs li:last-child a:hover {
	color: #7991ad !important;
}
/*** End Breadcrumbs ***/

/*** Datepicker ***/
.ui-widget-header {
	background: #38425D;
	color: #FFFFFF;
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_888888_256x240.png");
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_2e83ff_256x240.png");
}
.ui-widget-header a.ui-datepicker-prev.ui-state-hover {
	background-color: #38425D !important;
}
.ui-widget-header a.ui-datepicker-next.ui-state-hover {
	background-color: #38425D !important;
}
.ui-datepicker-calendar thead tr th {
	background: #E7ECF2;
}
.ui-datepicker-calendar thead tr th span {
	color: #98ABC0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #FFFFFF;
	color: #38425D;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	background: #38425D !important;
	color: #FFFFFF !important;
}
.ui-state-hover, ui-widget-content .ui-state-hover, ui-widget-header .ui-state-hover, .ui-state-focus, ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background: #E7ECF2 !important;
	color: #52A9FF !important;
}
/*** End Datepicker ***/

/*** jQuery***/
#transporterAdd .medium_table tr td {
	color: #64696D;
}

/*** Pagination ***/
.pagination {
	background: #E2E6EF;
}
.pagination span {
	border-right: 1px solid #CBCFD8;
}
.pagination li a {
	color: #38425D;
	border-color: #BDC6CF;
}
.pagination li a:hover {
	background-color: #38425D;
	color: #FFFFFF;
}
.pagination li p {
	background-color: #D5DAE5;
	color: #39526D;
}
/*** End Pagination ***/

/*** Dashboard ***/
.system_overview .box_header {
	background-color: #F27C5E;
}
.opcache_insights .opcache_title, .user_insights .user_title {
	background-color: #FFFFFF;
	color: #A2A6A9;
}

/*** MESSAGES ERROR AND INFO ***/
.message_info {
	background-color: #7CA956;
	color: #ffffff;
}
.message_error {
	background-color: #E05453;
	color: #ffffff;
}
.message_warning {
	background-color: #FF9D1E;
	color: #ffffff;
}
/*** END MESSAGES ***/


