body{
	background: #F9FAFB url('images/body_bg.png') repeat-x left top;

}
h1{
	color:#555555;
}
h2{
	color: #555555;
}
h3{
	color:#555555;
}
a{
	color:#1A7EB5;
}
a:hover{
	color:#1A7EB5;
}
fieldset{
	border-top: 2px solid #F19F56;
}
legend{
	color: #ee8b33;
}
input,select,textarea{
	border-top: 1px solid #a2aaac;
	border-right: 1px solid #d2d6d7;
	border-bottom: 1px solid #d2d6d7;
	border-left: 1px solid #a2aaac;
}
a#logo{
	color: #e6edf0;
}
.top_user_menu{
	color: #a9c0c9;
}
.top_user_menu a{
	color: #D6DEE2;
}
.menu_1 li a{
	color: #95c7da;
	background-color: #0B2F3E;
	border-bottom: 1px solid #346577;
	border-top: 1px solid #0D3A4F;
}
.menu_1 li a:hover{
	color: #DEEEF3;
	background-color: #0D3A4F;
	border-bottom: 1px solid #346577;
	border-top: 1px solid #0D3A4F;
}
.menu_1 .normal_selected a{      
	color: #ECF5F9;
	background-color: #144a5e;
	border-bottom: 1px solid #144a5e;
	border-top: 1px solid #346577;
}
.menu2_selected li a{
	color: #b3dae8;
}
.menu2_selected li a:hover{
	color:#ffffff;
}
.menu2_selected li.normal_selected a{
	color: #f6b45e;
}
.content {
	color:#1E1E1E;
}
.table_container{
	border: 1px solid #D6E9EF;
}
.g_box{
	border: 1px solid #d3d9dc;
	background-color: #ffffff;
}
.g_box td{    
	color:#556266 !important;
}
.g_box .emph{
	color: #28506C !important;
}
.g_box .emph span{
	color: #3D5969 !important;
}
.g_box span{
	color:#756859;
}
.g_box select{
	border: 1px solid #B7B7B7;
}
.pagination{
	border-bottom: 1px solid #b3bbbd;
}
.pagination li a{
	color: #0887b8;
	background: #e4eef3;
	border: 1px solid #e4e8e9;
}
.pagination li a:hover{
	background-color: #c0deeb;
}
.pagination li p{
	background-color: #ffa95a;
	color: #ffffff;
}
.big_table{
	border-left: 1px solid #c9d1d5;
	border-top: 1px solid #c9d1d5;
	border-bottom: 1px solid #c9d1d5;
	color:#242321;
	background-color: #e2ecf0;
}
.big_table td{
	color: #3B3B3B;
}
.table_subhead{
	background: url('images/table_h.png') repeat-x top left;
	color: #556266 !important;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #c9d1d5;
	border-bottom: 1px solid #c9d1d5;
}
.row1{
	background-color: #FFFFFF;
	border-right: 1px solid #c9d1d5;
}
.row2{
	background-color: #eef5f8;
	border-right: 1px solid #c9d1d5;
}
.medium_table{
	border: 1px solid #c9d1d5;
	color:#242321;
	background-color: #ffffff;
}
.medium_table td{
	color: #3B3B3B;
}
.medium_table .row2{
	border-right: 1px solid #c9d1d5;
	color: #556266 !important; 
	background-color: #eef5f8;
}
.big_button_area{
	background-color: #FFFFFF;
	border-right: 1px solid #c9d1d5;
}
.bordered{
	border-bottom: 1px solid #c9d1d5;
}
.list_table{
	border-top: 1px solid #c9d1d5;
	border-left: 1px solid #c9d1d5;	
	color:#242321;
	background-color: #eaf1f5;
}
.list_table td{
	border-bottom: 1px solid #c9d1d5;
	color: #3B3B3B;
}
input.small_btn{
	background-image: url('images/button.png');
	color: #FFFFFF;
}
input.small_btn:hover{
	background-image: url('images/button_hover.png');
}
.footer{
	border-top: 1px solid #b3bbbd;
	color: #5C717A;
}
/* Dijit Calendar */
.dijitCalendar {
	border:solid 1px #b5bcc7;
	background-color:#EAF5FF;
}
.dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.dijitCalendarNextMonth .dijitCalendarDateLabel{
	color:#547da1;
	border-color:#ebf3f9;
}
.dijitCalendarHoveredDate .dijitCalendarDateLabel{
	background-color:#abd4fb;
	border:solid 1px #729dc2;
	color:#000;
}
.dijitCalendarSelectedDate .dijitCalendarDateLabel {
	color:#000;
	background-color:#E1F1FF;
	border-color:#CBDBE4;
}
/* END Dijit Calendar */