<?xml version="1.0" encoding="utf-8"?>
<menus>	
<config>	
<menu>
	<id>1</id>
	<type>horizontal</type>
	<display>1</display>
	<item>
		<title>Home</title>
		<link>page/home/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
		<subItems>
			<subItem>
				<title>About Us</title>
				<link>page/about/</link>
				<target>_self</target>
				<external>0</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
			<subItem>
				<title>Who We Are</title>
				<link>page/who-we-are/</link>
				<target>_self</target>
				<external>0</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
			<subItem>
				<title>Image</title>
				<link>page/image/</link>
				<target>_self</target>
				<external>0</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
		</subItems>
	</item>
	<item>
		<title>Login</title>
		<link>user/login/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>0</isLogged>
		<notLogged>1</notLogged>
		<subItems>
		</subItems>
	</item>
	<item>
		<title>Logout</title>
		<link>user/logout/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>0</notLogged>
		<subItems>
		</subItems>
	</item>
	<item>
		<title>Account</title>
		<link>user/account/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>0</notLogged>
		<subItems>
		</subItems>
	</item>
	<item>
		<title>Register</title>
		<link>user/register/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>0</isLogged>
		<notLogged>1</notLogged>
		<subItems>
		</subItems>
	</item>
	<item>
		<title>Outbound Links</title>
		<link>page/outbound-links/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
		<subItems>
			<subItem>
				<title>php.net</title>
				<link>http://www.php.net/</link>
				<target>_blank</target>
				<external>1</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
			<subItem>
				<title>Zend Framework Manual</title>
				<link>http://framework.zend.com/manual/en/</link>
				<target>_blank</target>
				<external>1</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
			<subItem>
				<title>DotKernel Manual</title>
				<link>http://www.dotkernel.com/docs/</link>
				<target>_blank</target>
				<external>1</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
		</subItems>
	</item>
</menu>
<menu>
	<id>2</id>
	<type>vertical</type>
	<display>1</display>
	<item>
		<title>Home</title>
		<link>page/home/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
		<subItems>
			<subItem>
				<title>About Us</title>
				<link>page/about/</link>
				<target>_self</target>
				<external>0</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
			<subItem>
				<title>Who We Are</title>
				<link>page/who-we-are/</link>
				<target>_self</target>
				<external>0</external>
				<isLogged>1</isLogged>
				<notLogged>1</notLogged>
			</subItem>
		</subItems>
	</item>
	<item>
		<title>Login</title>
		<link>user/login/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>0</isLogged>
		<notLogged>1</notLogged>
	</item>
	<item>
		<title>My Account</title>
		<link>user/account/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>0</notLogged>
	</item>
	<item>
		<title>Logout</title>
		<link>user/logout/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>0</notLogged>
	</item>
</menu>
<menu>
	<id>3</id>
	<type>horizontal_simple</type>	
	<display>1</display>
	<item>
		<title>Home</title>
		<link>page/home/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
	</item>
	<item>
		<title>About Us</title>
		<link>http://www.dotboost.com/about-us/</link>
		<target>_blank</target>
		<external>1</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
	</item>
	<item>
		<title>DotKernel</title>
		<link>http://www.dotkernel.com/</link>
		<target>_blank</target>
		<external>1</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
	</item>
	<item>
		<title>Contact</title>
		<link>http://www.dotkernel.com/contact/</link>
		<target>_blank</target>
		<external>1</external>
		<isLogged>1</isLogged>
		<notLogged>1</notLogged>
	</item>
</menu>
<menu>
	<id>4</id>
	<type>horizontal</type>
	<display>0</display>
	<item>
		<title>Home</title>
		<link>page/home/</link>
		<target>_self</target>
		<external>0</external>
		<isLogged>0</isLogged>
		<notLogged>1</notLogged>
	</item>
</menu>		
</config>
</menus>