/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
strong, b{
	font-weight:bold;
}
em, i{
	font-style:italic;
}

/* END OF CSS RESET */

/* CLEARFIX CLASS */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
* html .clearfix {height:1px;}

/* END OF CLEARFIX CLASS */
html{height:100%;}
body{
	font-family: trebuchet ms,lucida sans unicode,sans-serif;
	font-size:11px;
	height: 100%;
}
#logo{
	font-family: 'Cabin', sans-serif;
	font-weight:bolder;
	font-size:28px;
	display:inline;
	text-shadow: 0px 1px 1px #fff;
	text-decoration: none;
	color: #e6edf0;
}
h1{
	font-size:22px;
	font-weight: bold;
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-family: trebuchet ms, Arial,sans-serif;
	color: #555555;
}
h2{
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-size:18px;
	font-family: trebuchet ms, Arial,sans-serif;
	color: #555555;
}
h3{
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-size:16px;
	font-family: trebuchet ms, Arial,sans-serif;
	color: #555555;
}
a{
	text-decoration:none;
	color: #1A7EB5;
	text-shadow: 0px 1px 1px #CCC;
}
a:hover{
	text-decoration:underline;
	color: #1A7EB5;
}
fieldset{
	border-top: 2px solid;
	margin: 20px 0px 20px 0px;
	padding: 0px;
	border-top-color: #F19F56;
}
legend{
	padding: 0px 5px 0px 0px;
	margin: 0px 10px 0px 0px;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Cabin', sans-serif, Arial;
	vertical-align: middle;
	color: #ee8b33;
}
input,select,textarea{
	font-family: trebuchet ms,lucida sans unicode,sans-serif;
	font-size:11px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
	background-color: transparent;
	border-bottom: 1px solid #D2D6D7;
	border-left: 1px solid #A2AAAC;
	border-right: 1px solid #D2D6D7;
	border-top: 1px solid #A2AAAC;
}
input[type="checkbox"], input[type="radio"]{
	background: transparent;
	border: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
 }
.wrapper{
	margin: 0 auto;
	width: 95%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	text-align: left;
	min-height: 100%;
	position:relative;
}
.header{
	position:relative;
	margin: 0px auto;
	height: 120px;
	text-align:left;
	padding-top: 13px;
}
/*** menu ***/
#mainMenu{
	height:30px;
	margin-top:8px;
}
#mainMenu li
{
	height: 30px;
	margin:0px;
	line-height:30px;
	float: left;
	list-style: none;
	margin: 0px 1px 0px 0px;
	float:left;
	font-weight:bold;
	position:relative;
	font-weight:bold;
}
#mainMenu li a
{
	display: block;
	padding: 0px 28px 0 15px;
	text-decoration: none;
	text-align: center;
	font-size: 12px;
	text-shadow: 1px 1px 3px #000;
	color:#fff;
	height:31px;
	line-height:32px;
	margin-top:5px;
	border:1px solid transparent;
	border-bottom:none;
	text-transform:none;
	cursor:pointer;
}
#mainMenu li a.selected{
	border:1px solid #B4B4B4;
	border-bottom:none;
	background-color:#EAEAEA;
	color:#0A172B;
	text-shadow:none;
}
#mainMenu li a.menuHover, #mainMenu li a.selected.menuHover
{
	border:1px solid #B4B4B4;
	border-bottom:none;
	color:#0A172B;
	text-shadow:none;
}

#mainMenu li ul
{
	position:absolute;
	margin: 0;
	padding: 0;
	visibility:hidden;
	-moz-box-shadow: 0px 1px 1px #bbb;
	-webkit-box-shadow: 0px 1px 1px #bbb;
	box-shadow: 0px 1px 1px #bbb;
	min-width:150px;
	/*** gradient for all browsers, generated by cssplease.com ***/
	background-color: #F3F3F3;
	background-image: -moz-linear-gradient(top, #F3F3F3, #D8D8D8); /* FF3.6 */
	background-image: -ms-linear-gradient(top, #F3F3F3, #D8D8D8); /* IE10 */
	background-image: -o-linear-gradient(top, #F3F3F3, #D8D8D8); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F3F3), to(#D8D8D8)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #F3F3F3, #D8D8D8); /* Chrome 10+, Saf5.1+ */
	background-image: linear-gradient(top, #F3F3F3, #D8D8D8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#F3F3F3', EndColorStr='#D6D6D6'); /* IE6–IE9 */
	border:1px solid #B4B4B4;
	border-top:none;
}

#mainMenu li ul li
{
	float:none;
	padding: 0;
	margin: 0;
	height:29px;
	line-height:29px;
}

#mainMenu li ul li a
{
	color:#2c2c2c;
	line-height:32px;
	width: auto;
	display: block;
	text-align:left;
	text-transform:none;
	padding: 0px 10px 0 20px !important;
	margin:0 !important;
	background-image:none;
	text-shadow: #fff 1px 1px 3px;
	border:1px solid transparent;
	height:30px;
}

#mainMenu li ul li a:hover, #mainMenu li ul li a.selected:hover
{
	color:#f26f06;
}

#mainMenu li ul li a.selected{
	border:none;
	background-color:transparent;
	font-weight:bold;
	background-image:none;
	color: #1A7EB5;
}
/*** breadcrumbs ***/

#breadcrumbs{
	margin-top:8px;
}

#breadcrumbs li
{
	float:left;
	margin-top: 0;
	line-height: 38px;
	text-align:left;
	font-weight:bold;
}

#breadcrumbs li:last-child{
	background:	none;
}


#breadcrumbs li a
{
	color:#1A7EB5;
	text-shadow: #fff 1px 1px 3px;
}

#breadcrumbs li a:hover{
	color: #f26f06 !important;
}

#breadcrumbs li:last-child a{
	color: #656565;
}

#breadcrumbs li a
{
	width: auto;
	display: block;
	text-align:left;
	text-transform:none;
	display: block;
	padding: 0px 15px 0px 8px;
	font-size: 12px;
	text-decoration:none;
}

/*** end breadcrumbs ***/

.top_user_menu{
	position: absolute;
	right: 0px;
	top: 15px;
	text-shadow: #888 1px 1px 3px;
	color: #B8B8B8;
}
.top_user_menu a{
	color: #DBDBDB;
}

.content {
	padding-bottom: 70px;
	color:#1E1E1E;
}
.g_box{
	width: 100%;
	border: 1px solid;
	margin: 10px 0px 10px 0px;
	vertical-align:middle;
	border-color: #D7D7D7;
	background-color: #ffffff;
}
.g_box td{    
	padding:12px 15px 12px 15px;
	vertical-align:middle;
	font-family:Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
	text-transform:uppercase;
	color:#556266 !important;
}
.g_box .emph{
	vertical-align:middle;
	color: #4A4A4A !important;
}
.g_box .emph span{
	color: #3D5969 !important;
}
.g_box span{
	font-weight:bold;
	color:#756859;
}
.g_box select{
	width: 150px;
	margin-right:10px;
	padding: 0px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	vertical-align:middle;
	border: 1px solid #B7B7B7;
}
.pagination{
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid;
	border-bottom: 1px solid #B7B7B7;
}
.pagination span{
	display: block;
	padding: 12px 0px 0px 0px;
	float: right;
	text-align: right;
	width: 20%;
}
.pagination ul{
	width: 80%;
	float: left;
} 
.pagination li{
	float: left;
	margin-right: 5px;
	font-weight: normal;
}
.pagination li a{
	float:left;
	display:block;
	padding: 6px 8px 6px 8px;
	font-weight: bold;
	color: #0887b8;
	background: #EBEBEB;
}
.pagination li a:hover{
	padding: 6px 8px 6px 8px;
	text-decoration: none;
	background-color: #c0deeb;
}
.pagination li p{
	float:left;
	padding: 6px 8px 6px 8px;
	background-color: #ffa95a;
	color: #ffffff;
}
.big_table{
	border-left: 1px solid #CFCFCF;
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
	color:#222222;
	background-color: #E8E8E8;
}
.big_table td{
	padding: 6px 10px 6px 10px;
	line-height: 18px;
	text-align:left;
	vertical-align: middle;
	color: #3B3B3B;
}
.table_subhead{
	padding: 6px 10px 6px 10px !important;
	margin-top:10px;
	height: 20px;
	line-height: 20px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	font-family: Arial, sans-serif;
	color: #5D5D5D !important;
	border-top: 1px solid #ffffff;
	border-right: 1px solid #CFCFCF;
	border-bottom: 1px solid #CFCFCF;
}
.big_button_area{
	background-color: #FFFFFF;
	border-right: 1px solid #CFCFCF;
}
.bordered{
	border-bottom: 1px solid #CFCFCF;
}
.table_container{
	border-color: #E2E2E2;
}
.row1, .row2{
	border-right: 1px solid;
}
.row1{
	background-color: #FFFFFF;
	border-right: 1px solid #CFCFCF;
}
.row2{
	background-color: #F3F3F3;
	border-right: 1px solid #CFCFCF;
}
.medium_table input[type="checkbox"], input[type="radio"]{
	width: auto !important;
	vertical-align: middle !important;
}
.medium_table input{
	width: 100%;
}
.medium_table{
	border: 1px solid #CFCFCF;
	background-color: #ffffff;
	margin: 5px 0px 0px 0px;
}
.medium_table.warnings .row2{
	background-color:#CC0000;
	color:#fff !important;
	text-transform:none
}
.medium_table.warnings .row1{
	background-color:#fff;
}
.medium_table td{
	padding: 15px 15px 2px 15px;
	line-height: 22px;
	text-align:left;
	color: #3B3B3B;
}
.medium_table .row1{
	border: 0px;
}
.medium_table .row2{
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	text-align: right !important;
	color: #556266 !important; 
	background-color: #F3F3F3;
}
.medium_table .last_td{
	padding-bottom: 13px !important;
}
.list_table{
	border-top: 1px solid #CFCFCF;
	border-left: 1px solid #CFCFCF;	
	color:#222222;
	background-color: #E8E8E8;
}
.list_table td{
	border-bottom: 1px solid #c9d1d5;
	color: #3B3B3B;
	padding: 10px;
	line-height: 18px;
	text-align:left;
}
.no_padding td{
	padding: 0px;
}
input.reffer_input{
	width: 100%;
	border: 0;
	background: transparent;
}
input.small_btn{
	margin: 0px;
	padding: 0px;
	width: 67px;
	min-height: 26px;
	line-height: 26px;
	text-align:center;
	background-repeat: no-repeat;
	font-size: 11px;
	font-weight: bold;
	border: 0px;
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
	background-image: url('images/button.png');
	color: #FFFFFF;
}
input.small_btn:hover{
	background-image: url('images/button_hover.png');
}
.footer{
	margin: -55px auto 0;
	position: relative;
	height: 30px;
	padding: 15px 0px 0px 0px;
	width: 95%;
	border-top: 1px solid #b3bbbd;
	color: #5C717A;
}
a.active_state{
	width: 46px;
	height: 17px;
	background: url('images/active.png') top left;
	display: block;
	margin: 0px auto;
}
a.active_state:hover{
	background: url('images/active.png') bottom left;
	text-decoration:none;
}
a.inactive_state{
	width: 56px;
	height: 17px;
	background: url('images/inactive.png') top left;
	display: block;
	margin: 0px auto;
}
a.inactive_state:hover{
	background: url('images/inactive.png') bottom left;
	text-decoration:none;   
}
a.edit_state{
	width: 37px;
	height: 17px;
	background: url('images/edit.png') top left;
	display: block;
 }
a.edit_state:hover{
	background: url('images/edit.png') bottom left;
	text-decoration:none;
}
a.delete_state{
	width: 43px;
	height: 17px;
	background: url('images/delete.png') top left;
	display: block;
}
a.delete_state:hover{
	background: url('images/delete.png') bottom left;
	text-decoration:none;
}
a.logins_state{
	width: 48px;
	height: 17px;
	background: url('images/logins.png') top left;
	display: block;
}
a.logins_state:hover{
	background: url('images/logins.png') bottom left;
	text-decoration:none;
}
a.pass_state{
	width: 63px;
	height: 17px;
	background: url('images/pass.png') top left;
	display: block;
}
a.pass_state:hover{
	background: url('images/pass.png') bottom left;
	text-decoration:none; 
}
a.sortable{
	padding-left: 10px;
	background: url('images/right_arrow.png') no-repeat 0px 2px;
	color: inherit;
}
a.sort_up{
	padding-left: 15px;
	background: url('images/up_arrow.png') no-repeat 0px 4px;
	color: inherit;
}
a.sort_down{
	padding-left: 15px;
	background: url('images/down_arrow.png') no-repeat 0px 4px;
	color: inherit;
}
.action_table td{
	padding: 0px;
	text-align: left;
}
 /*PHP INFO*/
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left; }
.center th { text-align: center; }

.explanation{
	font-style: italic;
	font-size: 11px;
	color: #5F5F5F;
}
input.bigger{width: 100%;}

/*MESSAGES ERROR AND INFO*/
.message_info{
	background-color: #DDFFEE;
	border: 1px solid #00CC00;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	font-size: 13px;
	padding: 5px 5px 5px 20px;
}
.message_error{
	background-color: #FFC4C4;
	border: 1px solid #CC0000;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 5px 5px 20px;
}
.message_warning{
	background-color: #FFFFB0;
	border: 1px solid #F19F56;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 5px 5px 20px;
}
/*END MESSAGES*/