/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
}
h6{
	font-family: 'Cabin', serif;
	font-weight:bolder;
	font-size:28px;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* END OF CSS RESET */

/* CLEARFIX CLASS */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
* html .clearfix {height:1px;}

/* END OF CLEARFIX CLASS */
html{height:100%;}
body{
	font-family: trebuchet ms,lucida sans unicode,sans-serif;
	font-size:11px;
	height: 100%;
}
h1{
	font-size:22px;
	font-weight: bold;
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-family: trebuchet ms, Arial,sans-serif;
}
h2{
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-size:18px;
	font-family: trebuchet ms, Arial,sans-serif;
}
h3{
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-size:16px;
	font-family: trebuchet ms, Arial,sans-serif;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
fieldset{
	border-top: 2px solid;
	margin: 20px 0px 20px 0px;
	padding: 0px;
}
legend{
	padding: 0px 5px 0px 0px;
	margin: 0px 10px 0px 0px;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial,sans-serif;
	vertical-align: middle;
}
input,select,textarea{
	font-family: trebuchet ms,lucida sans unicode,sans-serif;
	font-size:11px;
	padding: 3px 0px 3px 0px;
	vertical-align: middle;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
}
input[type="checkbox"], input[type="radio"]{
	background: transparent;
	border: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
 }
.wrapper{
	margin: 0 auto;
	width: 95%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	text-align: left;
	min-height: 100%;
	position:relative;
}
.header{
	position:relative;
	margin: 0px auto;
	height: 120px;
	text-align:left;
	padding-top: 13px;
}
a#logo{
	font-size:24px;
	font-family: trebuchet ms, Arial,sans-serif;
	text-decoration: none;
}
/*** menu ***/
#mainMenu{
	margin-top: 11px;
}
#mainMenu li
{
	height: 33px;
	margin:0px;
	line-height:33px;
	float: left;
	list-style: none;
	margin: 0px 2px 0px 0px;
	float:left;
	font-weight:bold;
}
#mainMenu li a
{
	display: block;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	font-size: 11px;
	text-align: center;
	border-bottom: 1px solid;
	border-top: 1px solid;
	color: #B7B7B7;
	background-color: #414141;
	border-bottom-color: #6d6d6d;
	border-top-color: #525252;
	font-size: 12px;
	text-shadow: #000000 0px 1px;
	text-transform:uppercase;
}

#mainMenu li a.selected{
	color: #fff !important;
}

#mainMenu li a:hover, #mainMenu li a.menuHover
{
	text-shadow: #333 0px 1px;
	color: #eee;
	background-color: #828282;
	border-bottom: 1px solid #828282;
	border-top-color: #8F8F8F;
}

#mainMenu li ul
{
	margin: 0;
	padding: 0;
	position: absolute;
	visibility:hidden;
	background-color: #777777;
}

#mainMenu li ul li
{
	float:none;
	border-top:1px solid #7D7D7D;
	padding: 2px 0;
	margin: 0;
}

#mainMenu li ul li:first-child
{
	border-top:none;
}


#mainMenu li ul li a
{
	color:#ccc !important;
	width: auto;
	background-color: #777777;
	border: none;
	display: block;
	text-align:left;
	text-transform:none;
	text-shadow: #333 0px 1px;
	
}

#mainMenu li ul li a:hover
{
	color:#F0A54F !important;
	background-color: #777;
	border:none !important;
}
/*** breadcrumbs ***/

#breadcrumbs img
{
	margin-top:12px;
}

#breadcrumbs li
{
	float:left;
	margin-top: 2px;
	height: 36px;
	line-height: 36px;
	text-align:left;
}

#breadcrumbs li a
{
	width: auto;
	display: block;
	text-align:left;
	text-transform:none;
	display: block;
	padding: 0px 10px 0px 10px;
	font-size: 12px;
	text-decoration:none;
	color:#c0c0c0 !important;
}

#breadcrumbs li a:hover{
	color:#F0A54F !important;
}

.top_user_menu{
	position: absolute;
	right: 0px;
	top: 15px;
}
/*
.menu_1 ul{
	height: 33px;
	margin:0px;
	list-style: none;
	line-height:33px;
}
.menu_1 li{
	margin: 0px 2px 0px 0px;
	float:left;
	font-weight:bold;   
}
.menu_1 li a{
	float: left;
	display: block;
	padding: 0px 20px 0px 20px;
	text-decoration: none;
	font-size: 11px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid;
	border-top: 1px solid;

}
.menu_1 li a:hover{
	text-decoration:none;
	border-bottom: 1px solid;
	border-top: 1px solid;
}
.menu_1 .normal_selected a{
	padding: 0px 20px 0px 20px;
	border-bottom: 1px solid;
	border-top: 1px solid;
	text-transform: uppercase;
}
.menu2{
		display: none;
}
.menu2_selected{
	margin-top: 2px;
	height: 36px;
	line-height: 36px;
	text-align:left;
}
.menu2_selected ul{
	height: 36px;
	margin:0px;
	list-style: none;
	line-height:34px;
}
.menu2_selected li{
	margin: 0px 15px 0px 0px;
	float:left;
	text-transform:none;
	font-weight:bold;
}
.menu2_selected li a{
	display: block;
	padding: 0px 10px 0px 10px;
	font-size: 11px;
	text-decoration:none;
}
.menu2_selected li a:hover{
	text-decoration:none;
}
.menu2_selected li.normal_selected a{
	padding: 0px 10px 0px 10px;
}
*/
.content {
	padding-bottom: 70px;
}
.table_container{
	border: 1px solid;
}
.g_box{
	width: 100%;
	border: 1px solid;
	margin: 10px 0px 10px 0px;
	vertical-align:middle;
}
.g_box td{    
	padding:12px 15px 12px 15px;
	vertical-align:middle;
	font-family:Arial,sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:20px;
	text-transform:uppercase;
}
.g_box .emph{
	vertical-align:middle;
}
.g_box span{
	font-weight:bold;
}
.g_box select{
	width: 150px;
	margin-right:10px;
	padding: 0px;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	vertical-align:middle;
}
.pagination{
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 8px 0px;
	border-bottom: 1px solid;
}
.pagination span{
	display: block;
	padding: 12px 0px 0px 0px;
	float: right;
	text-align: right;
	width: 20%;
}
.pagination ul{
	width: 80%;
	float: left;
} 
.pagination li{
	float: left;
	margin-right: 5px;
	font-weight: normal;
}
.pagination li a{
	float:left;
	display:block;
	padding: 6px 8px 6px 8px;
	font-weight: bold;
}
.pagination li a:hover{
	padding: 6px 8px 6px 8px;
	text-decoration: none;
}
.pagination li p{
	float:left;
	padding: 6px 8px 6px 8px;
}
.big_table{
	border-left: 1px solid;
	border-top: 1px solid;
	border-bottom: 1px solid;
}
.big_table td{
	padding: 6px 10px 6px 10px;
	line-height: 18px;
	text-align:left;
	vertical-align: middle;
}
.table_subhead{
	padding: 6px 10px 6px 10px !important;
	margin-top:10px;
	height: 20px;
	line-height: 20px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	font-family: Arial, sans-serif;
}
.row1, .row2{
	border-right: 1px solid;
}
.medium_table input[type="checkbox"], input[type="radio"]{
	width: auto !important;
	vertical-align: middle !important;
}
.medium_table input{
	width: 100%;
}
.medium_table{
	border: 1px solid;
	margin: 5px 0px 0px 0px;
}
.medium_table.warnings .row2{
	background-color:#CC0000;
	color:#fff !important;
	text-transform:none
}
.medium_table.warnings .row1{
	background-color:#fff;
}
.medium_table td{
	padding: 15px 15px 2px 15px;
	line-height: 22px;
	text-align:left;
}
.medium_table .row1{
	border: 0px;
}
.medium_table .row2{
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	text-align: right !important;
}
.medium_table .last_td{
	padding-bottom: 13px !important;
}
.big_button_area{
	padding-bottom: 10px !important;
	border-right: 1px solid;
}
.bordered{
	border-bottom: 1px solid;
}
.list_table{
	border-top: 1px solid;
	border-left: 1px solid;	
	margin: 5px 0px 0px 0px;
}
.list_table td{
	border-bottom: 1px solid;
	padding: 10px;
	line-height: 18px;
	text-align:left;
}
.no_padding td{
	padding: 0px;
}
input.reffer_input{
	width: 100%;
	border: 0;
	background: transparent;
}
input.small_btn{
	margin: 0px;
	padding: 0px;
	width: 67px;
	min-height: 26px;
	line-height: 26px;
	text-align:center;
	background-repeat: no-repeat;
	font-size: 11px;
	font-weight: bold;
	border: 0px;
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
}
.footer{
	margin: -55px auto 0;
	position: relative;
	height: 30px;
}
.footer{
	padding: 15px 0px 0px 0px;
	width: 95%;
	border-top: 1px solid;
}
a.active_state{
	width: 46px;
	height: 17px;
	background: url('images/active.png') top left;
	display: block;
	margin: 0px auto;
}
a.active_state:hover{
	background: url('images/active.png') bottom left;
	text-decoration:none;
}
a.inactive_state{
	width: 56px;
	height: 17px;
	background: url('images/inactive.png') top left;
	display: block;
	margin: 0px auto;
}
a.inactive_state:hover{
	background: url('images/inactive.png') bottom left;
	text-decoration:none;   
}
a.edit_state{
	width: 37px;
	height: 17px;
	background: url('images/edit.png') top left;
	display: block;
 }
a.edit_state:hover{
	background: url('images/edit.png') bottom left;
	text-decoration:none;
}
a.delete_state{
	width: 43px;
	height: 17px;
	background: url('images/delete.png') top left;
	display: block;
}
a.delete_state:hover{
	background: url('images/delete.png') bottom left;
	text-decoration:none;
}
a.logins_state{
	width: 48px;
	height: 17px;
	background: url('images/logins.png') top left;
	display: block;
}
a.logins_state:hover{
	background: url('images/logins.png') bottom left;
	text-decoration:none;
}
a.pass_state{
	width: 63px;
	height: 17px;
	background: url('images/pass.png') top left;
	display: block;
}
a.pass_state:hover{
	background: url('images/pass.png') bottom left;
	text-decoration:none; 
}
a.sortable{
	padding-left: 10px;
	background: url(images/right_arrow.png) no-repeat 0px 2px;
	color: inherit;
}
a.sort_up{
	padding-left: 15px;
	background: url(images/up_arrow.png) no-repeat 0px 4px;
	color: inherit;
}
a.sort_down{
	padding-left: 15px;
	background: url(images/down_arrow.png) no-repeat 0px 4px;
	color: inherit;
}
.action_table td{
	padding: 0px;
	text-align: left;
}
 /*PHP INFO*/
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left; }
.center th { text-align: center; }

.explanation{
	font-style: italic;
	font-size: 11px;
	color: #5F5F5F;
}
input.bigger{width: 100%;}

/*MESSAGES ERROR AND INFO*/
.message_info{
	background-color: #DDFFEE;
	border: 1px solid #00CC00;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	font-size: 13px;
	padding: 5px 5px 5px 20px;
}
.message_error{
	background-color: #FFC4C4;
	border: 1px solid #CC0000;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 5px 5px 20px;
}
.message_warning{
	background-color: #FFFFB0;
	border: 1px solid #F19F56;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px 5px 5px 20px;
}
/*END MESSAGES*/
/*Dijit themes tweaks*/
.tundra .dijitCalendarDateLabel{
	padding: 3px 5px 3px 4px;
	font-size:1.2em;
	font-weight:normal
}
.tundra .dijitCalendarCurrentDate{
	text-decoration:none;
}
.tundra .dijitCalendarYearLabel{
	font-size:13px;
}
/*End Dijit Tweaks*/