
/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,  u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: top;
	background: transparent;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	/*border-collapse: collapse;
	border-spacing: 0;*/
}
/* END OF CSS RESET */

/* CLEARFIX CLASS */
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hide from IE Mac \*/
.clearfix {display:block;}
/* End hide from IE Mac */
* html .clearfix {height:1px;}

/* END OF CLEARFIX CLASS */
input,textarea,select{
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
}
input{
	border: 1px solid #9EB1BC;
	height: 26px;
	line-height: 26px;
	
	}

body{
	font-family: Arial,sans-serif;
	font-size:12px;
}
h1{
	font-size:16px;
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	color:#2D4F68;
}
h2{
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-size:18px;
	color: #555555;
}
h3{
	padding:10px 0px 5px 0px;
	margin: 10px 0px 5px 0px;
	font-size:16px;
	color:#555555;
}
a{
	color:#1A7EB5;
	text-decoration:none;
}
a:hover{
	color:#1A7EB5;
	text-decoration:underline;
}
fieldset{
	border: 0px;
	border-top: 2px solid #F19F56;
	margin: 20px 0px 10px 0px;
	padding:0px;
	background-color:#FFFFFF;
	color:#787878;
}
legend{
	padding: 0px 5px 0px 0px;
	margin: 0px 10px 5px 0px;
	color: #ee8b33;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}

.header_bg{
	height: 130px;
	background-image: url('images/html_bg.png');
	background-repeat: repeat;
	text-align:center;
	padding: 0px 50px 0px 50px;
}
.header{
	margin:0px auto;
	height:50px;
	text-align:left;
}
.logo{
	float:left;
	padding-top:12px;
	font-size:18px;
	text-transform:uppercase;
	font-weight: bold;
	letter-spacing: 0.4em;
	margin-left: 20px;
}
.logo a{
	color:#F8DE85;
	text-decoration: none;
}
.top_user_menu{
	position: absolute;
	right: 50px;
	top: 10px;
	color: #a9c0c9;
}
.top_user_menu a{
	color: #FABE43;
	margin: 0px 5px 0px 0px;
}
.menu_1{
	margin: -85px 0px -2px 50px;

}
.menu_1 ul{
	height: 34px;
	margin:0px;
	list-style: none;
	line-height:34px;
	}
/*
.menu_1 li{
	padding: 0px 0px 0px 0px;
	float:left;
	font-weight:bold;
	margin-right: 1px;
	}
.menu_1 li a{
	float: left;
	display: block;
	padding: 0px 20px 0px 18px;
	background: url(images/link_tab_right.png) no-repeat top right;
	text-decoration: none;
	font-size: 14px;
	color: #172E3C;
	background-color: #FFC271;
	border-top: 1px solid #FFEDA6;
	border-left: 1px solid #FFEDA6;
	border-right: 1px solid #EFAE56;
}
.menu_1 li a:hover{
	color:#09394D;
	text-decoration:none;
	background-color: #D5EFF4;
	border-top: 1px solid #F0FAFF;
	border-left: 1px solid #F0FAFF;
	border-right: 1px solid #269EC6;
	background: url(images/hover_tab_right.png) no-repeat top right;*/
}

.menu_1 li{
	padding: 0px 0px 0px 0px;
	float:left;
	font-weight:bold;
	margin-right: 1px;
	}
.menu_1 li a{
	float: left;
	display: block;
	padding: 2px 20px 2px 20px;
	/*background: url(images/link_tab_right.png) no-repeat top right;*/
	text-decoration: none;
	font-size: 15px;
	color: #DFFCFF;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
.menu_1 li a:hover{
	color:#09394D;
	text-decoration:none;
	background-color: #D5EFF4;
	/*background: url(images/hover_tab_right.png) no-repeat top right;*/
}


/*
.menu_1 .hover_list{
	background: url(images/hover_tab_left.png) no-repeat top left !important;
}
.menu_1 .normal{
	background: url(images/link_tab_left.png) no-repeat top left;
}
*/
.menu_1 .normal_selected{		
	color:#0D5A77;
	text-decoration:none;
	background: url(images/hover_tab_right.png) no-repeat top right;
}
.menu_2_bg{
	height: 40px;
	width: 100%;
	line-height: 40px;
	margin:0px auto;
	text-align:left;
	background: url(images/menu_bg_.png) repeat-x top left;
	border-bottom: 1px solid #B3C5D7;
	}
.menu_2{
	height: 36px;
	margin:2px 50px 0px 70px;
	list-style: none;
	line-height:34px;
	}
.menu_2 li{
	padding: 0px 15px 0px 0px;
	float:left;
	text-transform:none;
	font-weight:bold;
}
.menu_2 li a{
	display: block;
	margin-top: 2px;
	padding: 0px 10px 0px 13px;
	font-size: 13px;
	color:#003346;
	text-decoration:none;
	background: url('images/blue_arr.png') no-repeat;
}
.menu_2 li a:hover{
	color:#ffffff;
	background: url('images/white_arr.png') no-repeat;
	text-decoration:none;
}
.main{
	padding: 20px 50px 0px 50px;
	background: url('images/main_bg.png') repeat-x top left;
	text-align:center;
}
.content {
	border-top: 1px solid #C9D5DE;
	padding: 0px 20px 20px 20px;
	color:#1E1E1E;
	background-color: #ffffff;
	text-align:left;
}

.table_container{
	border: 1px solid #D6E9EF;
}
.g_box{
	display: block;
	background-color: #dee6e9;
	font-weight:bold;
	margin: 10px 0px 10px 0px;
	vertical-align:middle;
}
.g_box td{
	background-color: #ffffff;
	padding:12px 15px 12px 15px;
	vertical-align:middle;
}
.g_box .emph{
	background-color: #f1f7f9 !important;
	padding:12px 15px 12px 15px; !important;
	color: #28506C !important;
	vertical-align:middle;
}
.g_box .emph span{
	color: #3D5969 !important;
}
.g_box span{
	font-weight:bold;
	color:#756859;
}
.g_box select{
	width: 150px;
	height: 20px;
	margin-right:10px;
	border-bottom: 1px solid #E0E0E0 !important;
	border-right: 1px solid #E0E0E0 !important;
	border-top: 1px solid #B7B7B7 ;
	border-left: 1px solid #B7B7B7;
	vertical-align:middle;
}
.paginator{
	margin: 15px 0px 15px 0px;
	border: 1px solid #DEE6E9;
}
.paginator .left{
	line-height: 44px;
	padding: 0px 0px 0px 10px;
	border-right: 1px solid #DEE6E9;
	width: 100px;
	float: left;
	background-color: #f1f7f9 !important;
	color: #28506C !important;
	vertical-align:middle;
}
.paginator .right{
	float: left;
	background-color: #ffffff;
	padding: 8px 10px 8px 10px;
}
.pagination{
	
}
.pagination li{
	float: left;
	margin-right: 3px;
	font-weight: normal;
}
.pagination li a{
	float:left;
	display:block;
	padding: 5px 6px 5px 6px;
	border: 1px solid #e7eff3;
}
.pagination li a:hover{
	padding: 5px 6px 5px 6px;
	background-color: #108abb;
	border: 1px solid #108abb;
	color: #ffffff;
	text-decoration: none;
}
.pagination li p{
	float:left;
	padding: 5px 6px 5px 6px;
	background-color: #fda83a;
	border: 1px solid #fda83a;
	color: #ffffff;
}

.table_head{
	margin-top: 20px;
	padding: 0px 0px 0px 10px;
	color: #F1F8E9;
	font-size: 18px;
	height: 41px;
	line-height: 41px;
	background: url('images/t_head.png') repeat-x;
	border-left: 1px solid #4E6529;
	border-right: 1px solid #4E6529;
}
.big_table{
	border-top:0px;
	color:#242321;
	background-color: #D6E4E9;
	width: 100%;
}
.big_table td{
	padding: 10px 10px 10px 10px;
	text-align:left;
	color: #3B3B3B;
	/*border: 1px solid #ffffff;*/
}
.login_inputs{
	width: 100%;
}

.table_subhead{
	padding: 0px 0px 0px 15px !important;
	margin-top:10px;
	height:40px;
	line-height:40px;
	background-image: url('images/table_head.png');
	background-repeat: repeat-x;
	color: #2D4F68 !important;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}
.row1{
	background-color: #FFFFFF;
	border:0px;
	font-size:12px;
	font-weight:normal;
	text-transform:none;
}
.row2{
	background-color: #F2F8F9;
	border:none ;
	font-size:12px;
	font-weight:normal;
	text-transform:none;
}
.small_btn{
	height: 32px;
	width:103px;
	line-height: 32px;
	text-align:center;
	background-image: url('images/small_btn.png');
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-size:13px;
	font-weight: bold;
	border:0px;
	vertical-align:bottom;
	cursor:pointer;
	text-transform: uppercase;
}
.login_box{
	margin:0px auto;
	width:260px;
}
.login_box fieldset{
	padding:10px;
	border: 1px solid #D6E9EF !important;
}
.login_bg{
	background-color:#E9F9FE;
	border:1px solid #D6E9EF;
	padding: 5px 10px 10px 10px;
	text-align:center;
	}
.login_bg input{
	clear:left;
	margin:0px auto;
	width: 200px;
	height: 28px;
	line-height: 28px;
	border:1px solid #D6E9EF;
	color:#646464;
	}
.login_bg p{
	float: left;
	color:#838383;
	padding: 15px 0px 10px 10px;
	font-size:14px;
}
.login_btn{
	margin: 15px 0px 10px 0px !important;
	width: 120px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:none !important;
	color:#FFFFFF !important;
	background-color: #008ADD;
	font-weight: bold;
}
/*PHP INFO*/
.center {text-align: center;}
.center table { margin-left: auto; margin-right: auto; text-align: left; }
.center th { text-align: center; }
.e {background-color: #F9F9F9; font-weight: bold;}
.h {background-color: #FFF; font-weight: bold;}
.v {background-color: #F9F9F9; white-space: normal;}

.explanation{
	font-style: italic;
	font-size: 11px;
	color: #5F5F5F;
}
.category_title{
	font-size: 14px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}
input.bigger{width: 100%;}

/*MESSAGES ERROR AND INFO*/
.message_info{
	background-color: #DDFFEE;
	border: 1px solid #00CC00;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	width: 400px;
}
.message_error{
	background-color: #FFC4C4;
	border: 1px solid #CC0000;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	width: 400px;
}

.message_warning{
	background-color: #FFFFB0;
	border: 1px solid #F19F56;
	vertical-align: middle;
	text-align: left;
	font-weight: bold;
	font-size: 13px;
	padding: 5px;
	margin: 5px;
	width: 400px;
}
/*END MESSAGES*/
